---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


//unverified
//$link-color-hover           : #042c4b;
//$link-color-visited         : #042c4b;
//$masthead-link-color-hover: mix(#000, $primary-color, 25%) !default;
//$navicon-link-color-hover: mix(#fff, $primary-color, 75%) !default;



//verified
//$link-color                 : red;
//$masthead-link-color        : #042c4b;
//$footer-background-color    : #042c4b;

//BLUE
//#042c4b

//GOLD
//#facb04

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// BACKGROUND COLOR - CURRENTLY RED
.masthead_menu {
  background-color: red;
}


/// VERIFIED
// COLOR OF TOP TEXT - CURRENTLY BLUE
.greedy-nav a {
  color: #042c4b;
}

// COLOR OF BOTTOM OF LINKS - CURRENTLY GOLD
.greedy-nav .visible-links a:before {
  background-color: #facb04;
}


// 16 18 20 22
html {
  font-size: 14px; // change to whatever

  @include breakpoint($medium) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 18px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 20px; // change to whatever
  }
}



//ul {
//    list-style-type: none;
//   margin-left: 40px;
//}
